@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
* {
  margin: 0;
  padding: 0;
}
:root {
  /* background color */
  --bg-danger: #f63440;
  --bg-white: #fff;
  --bg-light-white: #f5f5f5;

  /* text color */
  --primary-font: "Poppins", sans-serif;
  --text-white: #fff;
  --text-black: #121212;
  --text-danger: #f63440;
  --text-gray: #aaa;
  --text-dark-gray: #777;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  background: var(--bg-white);
  color: var(--text-black);
}
/* custom css */
a,
a:hover {
  text-decoration: none;
  color: #121212;
}
p {
  margin: 0;
}
.btn-danger {
  background: var(--bg-danger);
  border-color: var(--bg-danger);
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.btn-danger:hover {
  color: var(--text-danger);
  background: transparent;
}
/* Navbar section */
#header .navbar-nav {
  align-items: center;
}
#header .fixed-top {
  box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 5%);
}
#header .navbar-nav .nav-item .nav-link {
  color: var(--text-black);
}
#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
  color: var(--text-danger);
}
#header .navbar-toggler:focus {
  box-shadow: none;
}
/* home css */
.home .home-banner-1,
.home .home-banner-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  min-height: 650px;
  position: relative;
}
.home .home-banner-1 {
  background-image: url(images/slide1.jpg);
}
.home .home-banner-2 {
  background-image: url(images/slide2.jpg);
}
.home .home-banner .home-banner-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
  -webkit-transform: translate(-110%, -50%);
  -moz-transform: translate(-110%, -50%);
  -ms-transform: translate(-110%, -50%);
  -o-transform: translate(-110%, -50%);
}
.home .home-banner .home-banner-text h1 {
  font-size: 6rem;
}
.home .carousel-indicators [data-bs-target] {
  background-color: var(--bg-danger);
  width: 2.5rem;
  height: 0.313rem;
}
.home .carousel-control-prev-icon,
.home .carousel-control-next-icon {
  background: transparent;
}
.home .slider-icon {
  color: var(--text-danger);
  font-size: 3rem;
  font-weight: 600;
}
/* cloth section */
.cloth-section {
  grid-gap: 0.9rem;
  display: grid;
  grid-template-areas:
    "i1 i2 i4"
    "i1 i3 i4";
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 4.357rem;
  position: relative;
}
.cloth-section .offer-box .offer-image .grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* transition: 0.2s ease-in-out;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; */
}
/* .grid-img:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
} */
.cloth-section .offer-box .offer-image .grid-img::before {
  position: absolute;
  content: "";
  left: -100px;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.cloth-section .offer-box .offer-image .grid-img img {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cloth-section .offer-box:hover .offer-image .grid-img::before {
  animation: effect_shine 1s;
  -webkit-animation: effect_shine 1s;
}
@keyframes effect_shine {
  100% {
    left: 150%;
  }
}
.cloth-section .offer-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(95, 89, 89, 0.4);
  z-index: 1;
}
.cloth-section .offer-box .offer-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -ms-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}
.cloth-section .offer-box .offer-info .heading-bigger {
  font-size: 3.375rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
  color: var(--text-white);
}
.cloth-section .offer-box .offer-info .offer-title-1 {
  color: var(--text-white);
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.cloth-section .offer-box .offer-info .btn-danger:hover {
  color: var(--text-white);
  border-color: var(--bg-white);
  background: linear-gradient(
    rgb(228, 127, 127),
    rgb(105, 170, 105),
    rgb(238, 238, 129)
  );
}
/* bubble btn */

/* grid item */
.item1 {
  grid-area: i1;
}
.item2 {
  grid-area: i2;
}
.item3 {
  grid-area: i3;
}
.item4 {
  grid-area: i4;
}
/* Products */
.products {
  padding-top: 8.75rem;
}
.headline h2::before {
  content: "";
  width: 30%;
  height: 0.125rem;
  background-color: var(--bg-danger);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}
.product-list .product-image img {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}
.product-list .product-image .product-img-secondary {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.product-list .product-image:hover .product-img-secondary {
  opacity: 1;
}
.product-list .product-image .sale {
  background: var(--bg-danger);
  border-radius: 0.313rem;
  color: var(--text-white);
  -webkit-border-radius: 0.313rem;
  -moz-border-radius: 0.313rem;
  -ms-border-radius: 0.313rem;
  -o-border-radius: 0.313rem;
  font-size: 0.813rem;
  letter-spacing: 0.125rem;
  z-index: 99;
  position: absolute;
  left: 1rem;
  top: 1.188rem;
  text-transform: uppercase;
  padding: 0.125rem 0.813rem;
}
.product-list .product-name h3 {
  font-size: 1.125rem;
  color: var(--text-black);
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.product-list .product-name h3:hover {
  color: var(--bg-danger);
}
.product-list .product-name .amount {
  color: var(--bg-danger);
  font-weight: 500;
}
.product-list .product-name .amount del {
  color: gray;
}
.product-list .product-name .bi-star-fill {
  color: var(--text-gray);
}
.product-list .product-name .bi-star-fill.active {
  color: var(--text-danger);
}
.product-list .product-name .add_to_Card {
  border: darkseagreen;
  background: transparent;
  font-weight: 600;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.product-list .product-name .add_to_Card:hover {
  color: var(--text-danger);
}
/* UP TO 75% OFF SECTOIN */
/* UP TO OFF */
.products .up-to-off {
  position: relative;
}
.products .up-to-off ::before {
  /* content: " "; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 2;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.products .up-to-off img {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.products .up-to-off img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.products .up-to-content h2 {
  color: var(--text-white);
  font-size: 1.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 3;
}
/* Special product */
.special {
  padding: 6rem 0;
  background: var(--bg-light-white);
}
.special .countdown-container {
  padding-top: 4.375rem;
}
.special .countdown-container p {
  color: var(--text-dark-gray);
  font-weight: 300;
  line-height: 1.875;
  text-align: center;
}
.special .countdown-container .countdown-counter {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.875rem;
}
.special .countdown-container .countdown-counter li {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  width: 15%;
  margin: 0 0.313rem;
  background: var(--bg-white);
  border-radius: 0.313rem;
  -webkit-border-radius: 0.313rem;
  -moz-border-radius: 0.313rem;
  -ms-border-radius: 0.313rem;
  -o-border-radius: 0.313rem;
}
.special .countdown-container .countdown-counter li span {
  font-weight: 500;
}
.special .countdown-container .countdown-price del {
  color: var(--text-gray);
  font-size: 1rem;
}
.special .special-img .sale {
  background: var(--bg-danger);
  border-radius: 0.313rem;
  color: var(--text-white);
  -webkit-border-radius: 0.313rem;
  -moz-border-radius: 0.313rem;
  -ms-border-radius: 0.313rem;
  -o-border-radius: 0.313rem;
  font-size: 0.813rem;
  letter-spacing: 0.125rem;
  z-index: 99;
  position: absolute;
  left: 3.5rem;
  top: 1.188rem;
  text-transform: uppercase;
  padding: 0.125rem 0.813rem;
}
/* Testimonial */
.testimonial {
  padding: 5rem 0 8rem;
}
.testimonial .testimonial-wrapper {
  box-shadow: 0, 0, 0.563rem, 0 rgb(0 0 0 / 5%);
  background: var(--bg-white);
  margin: auto;
  padding: 1rem 5rem;
  border: 0.063rem solid var(--bg-light-white);
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
}
.testimonial .testimonial-wrapper img {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: 5rem;
  height: 5rem;
  margin: 1.25rem auto;
  object-fit: cover;
  background-color: var(--bg-white);
  border: 0.063rem solid var(--bg-light-white);
}
.testimonial .testimonial-wrapper span {
  color: var(--text-gray);
  font-size: 1rem;
  text-transform: uppercase;
  margin: 1rem 0;
  display: block;
}
.testimonial .carousel-indicators [data-bs-target] {
  background-color: var(--bg-danger);
  width: 2.5rem;
  height: 0.313rem;
}
.testimonial .carousel-indicators {
  bottom: -3rem;
}
.testimonial .carousel-control-prev-icon,
.testimonial .carousel-control-next-icon {
  background: transparent;
}
.testimonial .carousel-control-prev {
  left: -8.75rem;
}
.testimonial .carousel-control-next {
  right: -8.75rem;
}
.testimonial .slider-icon {
  color: var(--text-danger);
  font-size: 3rem;
  font-weight: 600;
}
/* Contact */
.contact {
  padding: 4rem 0;
  background-color: var(--bg-light-white);
}
.contact .info li p a {
  font-size: 1rem;
  display: inline-block;
  margin: 0.75rem 0;
  color: var(--text-black);
}
.contact .form-group {
  margin-bottom: 1.5rem;
}
.contact .form-control {
  height: 3.75rem;
  padding: 0.375rem 1.1875rem;
  border: none;
  font-size: 1rem;
  box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);
}
.contact .textarea {
  width: 100%;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  padding: 0.75rem 1.1875rem;
  border: none;
  font-size: 1rem;
  margin-top: 0.3125rem;
  box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);
}
.contact .textarea:focus {
  outline: none;
  border: none;
}
/* Footer */
.copyright {
  background: var(--bg-danger);
}
.copyright p,
.copyright a {
  color: var(--text-white);
}
/* Scroll Back To Top */
#scrollup {
  position: fixed;
  right: 2%;
  bottom: 3%;
  height: 2.813rem;
  width: 2.5rem;
  text-align: center;
  cursor: pointer;
  z-index: 500;
  display: none;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  background: var(--bg-danger);
}
#scrollup .bi .bi-arrow-up {
  line-height: 1.625rem;
}
.bi-arrow-up::before {
  margin-top: 0.4rem;
}
#scrollup.scrollActive {
  display: block;
}
/* Responsive */
@media (max-width: 1300px) {
  .special .special-img .sale {
    left: 2.5rem;
  }
}
@media (max-width: 1100px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 74% center;
    min-height: 600px;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-98%, -50%);
    -webkit-transform: translate(-98%, -50%);
    -moz-transform: translate(-98%, -50%);
    -ms-transform: translate(-98%, -50%);
    -o-transform: translate(-98%, -50%);
  }
  .home .home-banner-text h1 {
    font-size: 4rem;
  }
  .home .home-banner-text h2 {
    font-size: 1.45rem;
  }
}
@media (max-width: 1030px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 77% center;
    min-height: 550px;
  }
  .home .home-banner-text h1 {
    font-size: 3rem;
  }
  .home .home-banner-text h2 {
    font-size: 1.235rem;
  }
  .product-list .product-image .sale {
    left: 0.5rem;
  }
  .special .special-img .sale {
    left: 1.5rem;
  }
}
@media (max-width: 935px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 77% center;
    min-height: 500px;
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 5rem;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-117%, -50%);
    -webkit-transform: translate(-117%, -50%);
    -moz-transform: translate(-117%, -50%);
    -ms-transform: translate(-117%, -50%);
    -o-transform: translate(-117%, -50%);
  }
  .btn-danger {
    padding: 0.8rem 0.5rem;
  }
  .special .special-img {
    margin-top: 5rem;
  }
  .special .special-img .sale {
    left: 5.5rem;
  }
  .testimonial .carousel-control-next {
    right: -4.75rem;
  }
  .testimonial .carousel-control-prev {
    left: -6.75rem;
  }
}
@media (max-width: 830px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 75% center;
    min-height: 500px;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-111%, -50%);
    -webkit-transform: translate(-111%, -50%);
    -moz-transform: translate(-111%, -50%);
    -ms-transform: translate(-111%, -50%);
    -o-transform: translate(-111%, -50%);
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 4rem;
  }
  .cloth-section .offer-box .offer-info .heading-bigger {
    line-height: 2;
    font-size: 2.275rem;
  }
  .cloth-section .offer-box .offer-info .offer-title-1 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
  }
  .cloth-section .offer-box .offer-info .btn-danger {
    padding: 0.5rem 0.5rem;
  }
  .testimonial .carousel-control-next {
    right: -2.75rem;
  }
  .testimonial .carousel-control-prev {
    left: -4.75rem;
  }
  .bi-arrow-up::before {
    margin-top: 0.6rem;
    margin-left: 0.2rem;
  }
}
@media (max-width: 780px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 75% center;
    min-height: 440px;
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 5rem;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-98%, -50%);
    -webkit-transform: translate(-98%, -50%);
    -moz-transform: translate(-98%, -50%);
    -ms-transform: translate(-98%, -50%);
    -o-transform: translate(-98%, -50%);
  }
  .cloth-section .offer-box .offer-info .heading-bigger {
    font-size: 2.375rem;
    line-height: 2;
  }
  .cloth-section .offer-box .offer-info .offer-title-1 {
    letter-spacing: 1px;
  }
  .cloth-section .offer-box .offer-info .btn-danger {
    padding: 0.5rem 0.3rem;
    font-size: 0.8rem;
  }
  .testimonial .carousel-control-next {
    right: -0.75rem;
  }
  .testimonial .carousel-control-prev {
    left: -2.75rem;
  }
}
@media (max-width: 745px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 72% center;
    min-height: 440px;
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 4rem;
  }
  .home .bi-chevron-left::before {
    content: "\f284";
    margin-right: 3rem;
  }
}
@media (max-width: 680px) {
  .cloth-section .offer-box .offer-info .offer-title-1 {
    font-size: 0.9rem;
  }
}
@media (max-width: 610px) {
  .home .home-banner-1 {
    background-position: 47% center;
  }
  .home .home-banner-2 {
    background-position: 64% center;
  }
  .home .home-banner-1 .home-banner-text {
    transform: translate(-84%, -50%);
    -webkit-transform: translate(-84%, -50%);
    -moz-transform: translate(-84%, -50%);
    -ms-transform: translate(-84%, -50%);
    -o-transform: translate(-84%, -50%);
  }
  .home .home-banner-2 .home-banner-text {
    transform: translate(-90%, -50%);
    -webkit-transform: translate(-90%, -50%);
    -moz-transform: translate(-90%, -50%);
    -ms-transform: translate(-90%, -50%);
    -o-transform: translate(-90%, -50%);
  }
  .cloth-section .offer-box .offer-info .offer-title-1 {
    font-size: 0.7rem;
    font-weight: 500;
  }
}
@media (max-width: 580px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 54% center;
    min-height: 550px;
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 3rem;
  }
  .cloth-section {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
      "i1"
      "i2"
      "i3"
      "i4";
  }
  .cloth-section .offer-box .offer-info .heading-bigger {
    font-size: 4.375rem;
    line-height: 1.5;
  }
  .cloth-section .offer-box .offer-info .offer-title-1 {
    line-height: 3;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .cloth-section .offer-box .offer-info .btn-danger {
    padding: 0.5rem 0.7rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 565px) {
  .home .home-banner-1 {
    background-position: 54% center;
    min-height: 500px;
  }
  .home .home-banner-1 .home-banner-text {
    transform: translate(-77%, -50%);
    -webkit-transform: translate(-77%, -50%);
    -moz-transform: translate(-77%, -50%);
    -ms-transform: translate(-77%, -50%);
    -o-transform: translate(-77%, -50%);
  }
  .home .home-banner-2 {
    background-position: 63% center;
    min-height: 500px;
  }
  .home .home-banner-2 .home-banner-text {
    transform: translate(-90%, -50%);
    -webkit-transform: translate(-90%, -50%);
    -moz-transform: translate(-90%, -50%);
    -ms-transform: translate(-90%, -50%);
    -o-transform: translate(-90%, -50%);
  }
  .home .home-banner-text h2 {
    font-size: 1.035rem;
  }
  .btn-danger {
    padding: 0.5rem 0.5rem;
  }
  .product-list .product-image .sale {
    left: 3.5rem;
  }
  .special .special-img .sale {
    left: 3.5rem;
  }
  .special .special-img {
    margin-top: 2rem;
  }
  .special .countdown-container {
    padding-top: 1.375rem;
  }
  .testimonial .testimonial-wrapper h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  .testimonial .carousel-control-next {
    right: 0.25rem;
  }
  .testimonial .carousel-control-prev {
    left: -1.5rem;
  }
}
@media (max-width: 460px) {
  .home .home-banner-2 {
    min-height: 450px;
  }
  .home .home-banner-text h2 {
    font-size: 1.005rem;
  }
}
@media (max-width: 430px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 54% center;
    min-height: 412px;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-78%, -50%);
    -webkit-transform: translate(-78%, -50%);
    -moz-transform: translate(-78%, -50%);
    -ms-transform: translate(-78%, -50%);
    -o-transform: translate(-78%, -50%);
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 2rem;
  }
  .home .home-banner-text h2 {
    font-size: 0.9rem;
  }
  .btn-danger {
    padding: 0.3rem 0.5rem;
    font-size: 0.6rem;
  }
  .product-list .product-image .sale {
    left: 1.2rem;
  }
  .special .special-img {
    padding-top: 1rem;
  }
  .special .special-img .sale {
    left: 1.5rem;
  }
  .testimonial .carousel-control-prev {
    left: 0.75rem;
  }
  .testimonial .carousel-control-next {
    right: 0.75rem;
  }
  .products .up-to-content h2 {
    text-align: center;
  }
  .bi-arrow-up::before {
    margin-top: 0.6rem;
    margin-left: 0.2rem;
  }
}
@media (max-width: 400px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 54% center;
    min-height: 300px;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-80%, -50%);
    -webkit-transform: translate(-80%, -50%);
    -moz-transform: translate(-80%, -50%);
    -ms-transform: translate(-80%, -50%);
    -o-transform: translate(-80%, -50%);
  }
  .home .home-banner-text h2 {
    font-size: 0.76rem;
  }
  .home .bi-chevron-left::before {
    content: "\f284";
    margin-right: 1rem;
  }
  .products .up-to-content h2 {
    font-size: 1.35rem;
    text-align: center;
  }
  .bi-arrow-up::before {
    margin-top: 0.6rem;
    margin-left: 0.2rem;
  }
}
@media (max-width: 340px) {
  .home .home-banner-text h2 {
    font-size: 0.73rem;
  }
  .cloth-section .offer-box .offer-info .heading-bigger {
    font-size: 3.375rem;
  }
}
@media (max-width: 290px) {
  .home .home-banner-1,
  .home .home-banner-2 {
    background-position: 55% center;
    min-height: 280px;
  }
  .home .home-banner .home-banner-text {
    transform: translate(-82%, -50%);
    -webkit-transform: translate(-82%, -50%);
    -moz-transform: translate(-82%, -50%);
    -ms-transform: translate(-82%, -50%);
    -o-transform: translate(-82%, -50%);
  }
  .home .home-banner .home-banner-text h1 {
    font-size: 2rem;
  }
  .home .home-banner-text h2 {
    font-size: 0.6rem;
  }
  .bi-chevron-left::before {
    content: "\f284";
    font-size: 1.8rem;
  }
  .home .bi-chevron-right::before {
    content: "\f285";
    font-size: 1.8rem;
  }
  .home .carousel-indicators [data-bs-target] {
    width: 1.5rem;
    height: 0.313rem;
  }
  .cloth-section .offer-box .offer-info .heading-bigger {
    font-size: 2.375rem;
  }
  .cloth-section .offer-box .offer-info .offer-title-1 {
    font-size: 1rem;
  }
  .cloth-section .offer-box .offer-info .btn-danger {
    padding: 0.3rem 0.3rem;
    font-size: 1.2rem;
  }
  .products {
    padding-top: 4.75rem;
  }
  .product-list .product-image .sale {
    left: 0.2rem;
  }
  .special .special-img .sale {
    left: 0.5rem;
    margin-top: 4rem;
    padding: 0.1rem 0.3rem;
  }
  .special .countdown-container .countdown-counter li {
    padding: 0;
  }
  .products .up-to-content h2 {
    font-size: 0.935rem;
  }
}
